<h1>Find Mates For Matches FM²</h1>
<section class="insert">
    <h3>Post einfügen</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Spiel</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Rang</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Username</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit" class="btn btn-secondary">Daten Einfügen</button>
    </form>
</section>
<section class="get">
    <h3>Post laden</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Spiel: {{ this.title }}</div>
                <div>Rang: {{ this.content }}</div>
                <div>Username: {{ this.author }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Post aktualisieren</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="title">Spiel</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Rang</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Username</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit" class="btn btn-secondary">Daten aktualisieren</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Post löschen</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit" class="btn btn-secondary">Daten löschen</button>
    </form>
</section>
